.cartModal-bg {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;

  
    
        visibility: hidden;
        opacity: 0;
        /*
        
        transition: visibility 0s, opacity 0.5s;
        */
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.cartModal-Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    width: 50%;  
}

.cartModal-Container h5 {
    padding: 15px 0 5px 0;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 900;
    color: #383838;
    border-bottom: 2px solid #383838;
}

.productoEnCarrito {
    display: flex;
    justify-content: space-evenly;
    padding: 15px;

}